[Unit]
Description=Misskey DB log management job
Wants=network-online.target
After=network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/misskey_db_log_manager.sh

[Install]
WantedBy=multi-user.target
